 <div class="row mt-5">
     <div class="col-md-7 m-auto">
         <div class="card card-body pt-4">
             <form action="/products/create" method="POST" enctype="multipart/form-data">

                <% if(typeof errors != undefined) { %>
                    <% errors.map(error => { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= error.message %> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% }); %> 
                <% }%> 
                <div class="mb-3 row ps-5 mt-3">
                    <div class="col-sm-10 ms-4">
                    <input type="file" class="form-control" name="myImage">
                    </div>
                </div>
                <div class="mb-3 row ps-5">
                    <div class="col-sm-10 ms-4">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="mb-3 row ps-5">
                    <div class="col-sm-10 ms-4">
                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
                    </div>
                </div>
                <div class="mb-3 row ps-5">
                    <div class="col-sm-10 ms-4">
                        <input type="text" class="form-control" id="price" name="price" placeholder="Price">
                    </div>
                </div>
                <div class="mb-3 row ps-5">
                    <div class="col-sm-10 ms-4">
                        <textarea class="form-control" id="description" name="description" placeholder="Description..."></textarea>
                    </div>
                </div>
                <div class="ps-5 ms-5">
                    <button type="submit" class="btn btn-primary col-md-10 mb-4">Submit</button>
                </div>
            </form>
         </div>
     </div>
 </div> 
  
